<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="container">
  <!-- Intro Section -->
  <div class="intro-section">
    <h1>Order Page</h1>
    <p>Using Bootstrapt</p>
  </div>

  <!-- A list of orders  -->
  <div class="row g-5">
    <div class="col-md-6">
      <h2 class="customer-header">Customer's Details</h2>
      <form>
        <div class="mb-3">
          <label for="name" class="form-label">Customer's Name</label>
          <input type="text" class="form-control" name="name" id="name" />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Customer's Email</label>
          <input type="email" class="form-control" name="email" id="email" />
        </div>
        <div class="mb-3">
          <label for="phone" class="form-label">Customer's Phone</label>
          <input type="digit" class="form-control" name="phone" id="phone" />
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2 class="product-header">Order's Details</h2>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
