<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="container">
  <div class="confirmation-container">
    <h1>Order Confirmation</h1>
    <p>Please confirm your order</p>
  </div>

  <!-- A  -->
  <div class="row">
    <table>
      <thead>
        <th scope="col" class="text-start">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
