<!-- Header -->
<app-header></app-header>

<!-- Body -->
<div class="container">
  <div class="confirmation-container">
    <h1>Order Confirmation</h1>
    <p>Please confirm your order</p>
  </div>

  <!-- A  -->
  <div class="row">
    <table>
      <thead>
        <th scope="col" class="text-start">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
        <th scope="col">Total Price</th>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/1366630/pexels-photo-1366630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Product image"
                class="product-image"
              />
              <span class="product-header-text">A dog</span>
            </div>
          </td>
          <td>2</td>
          <td>100.000d</td>
          <td>200.000d</td>
        </tr>

        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/1366630/pexels-photo-1366630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Product image"
                class="product-image"
              />
              <span class="product-header-text">A dog</span>
            </div>
          </td>
          <td>2</td>
          <td>100.000d</td>
          <td>200.000d</td>
        </tr>

        <tr>
          <td>
            <div class="product-info">
              <img
                src="https://images.pexels.com/photos/1366630/pexels-photo-1366630.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                alt="Product image"
                class="product-image"
              />
              <span class="product-header-text">A dog</span>
            </div>
          </td>
          <td>2</td>
          <td>100.000d</td>
          <td>200.000d</td>
        </tr>
      </tbody>
    </table>

    <div class="text-center mt-3">
      <button class="btn btn-danger" type="button">Continue Shopping</button>
    </div>
  </div>
</div>

<!-- Footer -->
<app-footer></app-footer>
